*.GeneratedMSBuildEditorConfig.editorconfig
*.user
SourceCodeAnalysis/packages/*
SourceCodeAnalysis/**/.vs/*
SourceCodeAnalysis/**/bin/*
SourceCodeAnalysis/**/obj/*
VSExtension/packages/*
VSExtension/**/.vs/*
VSExtension/**/bin/*
VSExtension/**/obj/*