<?xml version="1.0" encoding="utf-8" ?>
<porter>
    <import config="porter.config" />
    <libs>
        <opt name="makefile_templates" value="target/devshared"/>
    </libs>
    <opt name="make_shared_lib" value="true" export_per_member="true" export_internals="true" hide_local_symbols="false" /> 
    <opt name="internal_as_public" value="true"/>
    <opt name="target_framework_version" value="v4.6"/>
    <!-- Specify global properties that should be used during internal call of MSBuild. -->
    <files>
        <exclude file="Include/*.cs" />
        <include file="Include/GoodCastsExample.cs" />
        <exclude file="Exclude/BadIdentifierExample.cs" />
        <include file="Exclude/GoodIdentifierExample.cs" />
        <only file="Only/GoodClassNameExample.cs" />
    </files>
</porter>
