<?xml version="1.0" encoding="utf-8" ?>
<porter>

    <typemap>
        <class csname="System.Void" cppname="void"/>
        <class csname="System.Boolean" cppname="bool" box="true"/>

        <class csname="System.SByte" cppname="int8_t" box="true"/>
        <class csname="System.Byte" cppname="uint8_t" box="true"/>
        <class csname="System.Int16" cppname="int16_t" box="true"/>
        <class csname="System.UInt16" cppname="uint16_t" box="true"/>
        <class csname="System.Int32" cppname="int32_t" box="true"/>
        <class csname="System.UInt32" cppname="uint32_t" box="true"/>
        <class csname="System.Int64" cppname="int64_t" box="true"/>
        <class csname="System.UInt64" cppname="uint64_t" box="true"/>

        <class csname="System.UIntPtr" cppname="IntPtr"/>
        <class csname="System.IntPtr" cppname="IntPtr"/>

        <class csname="System.Single" cppname="float" box="true"/>
        <class csname="System.Double" cppname="double" box="true"/>

        <class csname="System.Char" cppname="char16_t"/>

        <class csname="System.Type" cppname="System::TypeInfo"/>

        <class csname="?" cppname="_UnknownType_"/>
    </typemap>

    <cpp_type_info>
        <type name="bool" size="1" alignment="1" size64="1" alignment64="1"/>
        <type name="int8_t" size="1" alignment="1" size64="1" alignment64="1"/>
        <type name="uint8_t" size="1" alignment="1" size64="1" alignment64="1"/>
        <type name="int16_t" size="2" alignment="2" size64="2" alignment64="2"/>
        <type name="uint16_t" size="2" alignment="2" size64="2" alignment64="2"/>
        <type name="int32_t" size="4" alignment="4" size64="4" alignment64="4" />
        <type name="uint32_t" size="4" alignment="4" size64="4" alignment64="4" />
        <type name="int64_t" size="8" alignment="8" size64="8" alignment64="8"/>
        <type name="uint64_t" size="8" alignment="8" size64="8" alignment64="8"/>
        <type name="char16_t" size="2" alignment="2" size64="2" alignment64="2"/>
        <type name="char_t"  size="2" alignment="2" size64="2" alignment64="2" />
        <type name="float" size="4" alignment="4" size64="4" alignment64="4"/>
        <type name="double" size="8" alignment="8" size64="8" alignment64="8"/>
        <type name="IntPtr" size="4" alignment="4" size64="8" alignment64="8" />
    </cpp_type_info>
    
    <!-- translate variables of followed types without pointer wrapping -->
    <force_value_types>
        <!-- all primitive (POD) types including by default -->

        <class name="System::String" box="true"/>
        <class name="System::Decimal" box="true"/>
        <class name="System::DateTime" box="true"/>
        <class name="System::TimeSpan" box="true"/>
        <class name="System::TypeInfo"/>
        <class name="System::Collections::Generic::KeyValuePair"/>
        <class name="System::Random"/>
        <class name="System::Guid" box="true"/>
        <class name="System::Version"/>
        <class name="System::Exception"/>
        <class name="System::Nullable"/>
        <class name="System::NullableVT"/>
        <class name="System::Runtime::Serialization::StreamingContext"/>
        <class name="System::Action"/>
        <class name="System::Predicate"/>
        <class name="System::Converter"/>
        <class name="System::OperatingSystem"/>
    </force_value_types>

    <dont_wrap_params>
        <class  name="System::Console"/>
        <class  name="System::IO::TextWriter"/>
        <method name="System::Text::StringBuilder::AppendFormat"/>
        <method name="System::String::Concat"/>
        <method name="System::StringExtra::Concat"/>
        <method name="System::String::Split"/>
    </dont_wrap_params>

    <disable_boxing>
        <class name="System::Convert"/>
        <method name="System::Enum::Parse"/>
        <method name="System::Enum::CompareTo"/>
        <method name="System::Text::StringBuilder::AppendFormat"/>
        <method name="System::Object::ReferenceEquals"/>
        <method name="System::String::Concat"/>
        <method name="System::StringExtra::Concat"/>
    </disable_boxing>

    <includes>

        <!-- special types -->
        <class name="System::ObjectExt" file="*system/object_ext.h"/>
        <class name="System::setter_*" file="system/setters_wrap.h"/>
        <class name="System::multi_array" file="system/multi_array.h"/>
        <class name="System::TestTools" file="system/test_tools/test_tools.h"/>
        <class name="System::TestToolsExt" file="system/test_tools/test_tools_ext.h"/>
        <class name="System::TestCompare" file="system/test_tools/compare.h"/>
        <class name="System::PrimitiveTypeMethods" file="system/primitive_types.h"/>
        <class name="System::Constraints" file="system/constraints.h"/>
        <class name="System::MethodArgumentTuple" file="system/test_tools/method_argument_tuple.h"/>
        <class name="System::TestPredicates" file="testing/test_predicates.h"/>
        <class name="System::StringExtra" file="system/string_extra.h"/>
        <class name="System::IterateOver" file="system/enumerator_adapter.h"/>

        <!-- System:: -->
        <class name="System::Action" file="system/action.h"/>
        <class name="System::Array" file="system/array.h" shortptr="true"/>
        <class name="System::Attribute" file="system/attribute.h"/>
        <class name="System::AsyncCallback" file="system/async_callback.h"/>
        <class name="System::Base64FormattingOptions" file="system/convert.h"/>
        <class name="System::BitConverter" file="system/bit_converter.h"/>
        <class name="System::Buffer" file="system/buffer.h"/>
        <class name="System::Char" file="system/char.h"/>
        <class name="System::Console" file="system/console.h"/>
        <class name="System::Convert" file="system/convert.h"/>
        <class name="System::GC" file="system/gc.h"/>
        <class name="System::Converter" file="system/converter.h"/>
        <class name="System::DateTime" file="system/date_time.h"/>
        <class name="System::DayOfWeek" file="system/date_time.h"/>
        <class name="System::TimeZone" file="system/timezone.h"/>
        <class name="System::TimeZoneInfo" file="system/timezone_info.h"/>
        <class name="System::DBNull" file="system/db_null.h"/>
        <class name="System::Decimal" file="system/decimal.h"/>
        <class name="System::Enum" file="system/enum.h"/>
        <class name="System::Environment" file="system/environment.h"/>
        <class name="System::Event" file="system/event.h"/>
        <class name="System::EventArgs" file="system/eventargs.h"/>
        <class name="System::EventHandler" file="system/eventhandler.h"/>
        <class name="System::Guid" file="system/guid.h"/>
        <class name="System::IAsyncResult" file="system/iasyncresult.h"/>
        <class name="System::ICloneable" file="system/icloneable.h"/>
        <class name="System::IComparable" file="system/icomparable.h"/>
        <class name="System::IConvertible" file="system/iconvertible.h"/>
        <class name="System::ICustomFormatter" file="system/icustomformatter.h"/>
        <class name="System::IDisposable" file="system/idisposable.h"/>
        <class name="System::IEquatable" file="system/iequatable.h"/>
        <class name="System::IFormatProvider" file="system/iformatprovider.h"/>
        <class name="System::MarshalByRefObject" file="system/marshal_by_ref_object.h" />
        <class name="System::Math" file="system/math.h"/>
        <class name="System::Nullable" file="system/nullable.h"/>
        <class name="System::NullableVT" file="system/nullable_vt.h"/>
        <class name="System::Object" file="system/object.h"/>
        <class name="System::OperatingSystem" file="system/operating_system.h"/>
        <class name="System::Predicate" file="system/predicate.h"/>
        <class name="System::Random" file="system/random.h"/>
        <class name="System::String" file="system/string.h"/>
        <class name="System::StringComparer" file="system/string_comparer.h"/>
        <class name="System::TimeSpan" file="system/timespan.h"/>
        <class name="System::TimeZone" file="system/timezone.h"/>
        <class name="System::TypeInfo" file="system/type_info.h"/>
        <class name="System::TypeCode" file="system/type_code.h"/>
        <class name="System::Uri" file="system/uri.h"/>
        <class name="System::UriBuilder" file="system/uri_builder.h"/>
        <class name="System::UriParser" file="system/uri_parser.h"/>
        <class name="System::ValueType" file="system/value_type.h"/>
        <class name="System::Version" file="system/version.h" />

        <enum name="System::DateTimeKind" file="system/date_time.h"/>
        <enum name="System::MidpointRounding" file="system/midpoint_rounding.h"/>
        <enum name="System::PlatformID" file="system/platform_id.h"/>
        <enum name="System::StringComparison" file="system/string_comparison.h"/>
        <enum name="System::StringSplitOptions" file="system/string.h"/>
        <enum name="System::UriKind" file="system/uri_enum_types.h"/>
        <enum name="System::UriComponents" file="system/uri_enum_types.h"/>
        <enum name="System::UriFormat" file="system/uri_enum_types.h"/>
        <enum name="System::UriPartial" file="system/uri_partial.h"/>
        <enum name="System::UriHostNameType" file="system/uri_host_name_type.h"/>

        <!-- System::*Exception -->
        <class name="System::ApplicationException" file="system/exceptions.h"/>
        <class name="System::ArgumentException" file="system/exceptions.h"/>
        <class name="System::ArgumentNullException" file="system/exceptions.h"/>
        <class name="System::ArgumentOutOfRangeException" file="system/exceptions.h"/>
        <class name="System::ArithmeticException" file="system/exceptions.h"/>
        <class name="System::DivideByZeroException" file="system/exceptions.h"/>
        <class name="System::Exception" file="system/exceptions.h"/>
        <class name="System::FormatException" file="system/exceptions.h"/>
        <class name="System::IndexOutOfRangeException" file="system/exceptions.h"/>
        <class name="System::InvalidCastException" file="system/exceptions.h"/>
        <class name="System::InvalidOperationException" file="system/exceptions.h"/>
        <class name="System::MethodAccessException" file="system/exceptions.h"/>
        <class name="System::NotImplementedException" file="system/exceptions.h"/>
        <class name="System::NotSupportedException" file="system/exceptions.h"/>
        <class name="System::NullReferenceException" file="system/exceptions.h"/>
        <class name="System::ObjectDisposedException" file="system/exceptions.h" />
        <class name="System::OutOfMemoryException" file="system/exceptions.h" />
        <class name="System::OverflowException" file="system/exceptions.h"/>
        <class name="System::StackOverflowException" file="system/exceptions.h"/>
        <class name="System::SystemException" file="system/exceptions.h"/>
        <class name="System::UnauthorizedAccessException" file="system/exceptions.h"/>
        <class name="System::UriFormatException" file="system/exceptions.h"/>
        <class name="System::IO::InvalidDataException" file="system/exceptions.h"/>
        <class name="System::ExecutionEngineException" file="system/exceptions.h"/>
        <class name="System::Net::WebException" file="system/exceptions.h"/>
        <class name="System::OperationCanceledException" file="system/exceptions.h"/>

        <!-- System::Collections:: -->
        <class name="System::Collections::BitArray" file="system/collections/bitarray.h" shortptr="true"/>
        <class name="System::Collections::StringCollectoin" file="system/collections/string_collectoin.h" shortptr="true"/>
        <class name="System::Collections::Generic::ArrayList" file="system/collections/arraylist.h"/>
        <class name="System::Collections::Generic::List" file="system/collections/list.h"/>
        <class name="System::Collections::Generic::LinkedList" file="system/collections/linkedlist.h"/>
        <class name="System::Collections::Generic::LinkedListNode" file="system/collections/linkedlist.h"/>
        <class name="System::Collections::Generic::Dictionary" file="system/collections/dictionary.h"/>
        <class name="System::Collections::Generic::Dictionary::Enumerator" file="system/collections/dictionary.h"/>
        <class name="System::Collections::Generic::Dictionary::ValueCollection" file="system/collections/dictionary.h"/>
        <class name="System::Collections::Generic::Dictionary::KeyCollection" file="system/collections/dictionary.h"/>
        <class name="System::Collections::Generic::Dictionary::KeyCollection::Enumerator" file="system/collections/dictionary.h"/>
        <class name="System::Collections::Generic::HashSet" file="system/collections/hashset.h"/>
        <class name="System::Collections::Generic::Queue" file="system/collections/queue.h"/>
        <class name="System::Collections::Generic::Stack" file="system/collections/stack.h"/>
        <class name="System::Collections::Generic::SortedList" file="system/collections/sorted_list.h"/>
        <class name="System::Collections::Generic::SortedList::ValueCollection" file="system/collections/sorted_list.h"/>
        <class name="System::Collections::Generic::SortedList::KeyCollection" file="system/collections/sorted_list.h"/>
        <class name="System::Collections::Generic::SortedDictionary" file="system/collections/sorted_dictionary.h"/>
        <class name="System::Collections::Generic::SortedDictionary::ValueCollection" file="system/collections/sorted_dictionary.h"/>
        <class name="System::Collections::Generic::SortedDictionary::KeyCollection" file="system/collections/sorted_dictionary.h"/>
        <class name="System::Collections::Generic::KeyValuePair" file="system/collections/keyvalue_pair.h"/>
        <class name="System::Collections::Generic::IComparer" file="system/collections/icomparer.h"/>
        <class name="System::Collections::Generic::IList" file="system/collections/ilist.h"/>
        <class name="System::Collections::Generic::ISet" file="system/collections/iset.h"/>
        <class name="System::Collections::Generic::ICollection" file="system/collections/icollection.h"/>
        <class name="System::Collections::Generic::IDictionary" file="system/collections/idictionary.h"/>
        <class name="System::Collections::Generic::IEnumerable" file="system/collections/ienumerable.h"/>
        <class name="System::Collections::Generic::IEnumerator" file="system/collections/ienumerator.h"/>
        <class name="System::Collections::Generic::List::Enumerator" file="system/collections/list.h"/>
        <class name="System::Collections::Generic::KeyNotFoundException" file="system/exceptions.h"/>
        <class name="System::Collections::Generic::IEqualityComparer" file="system/collections/iequality_comparer.h"/>
        <class name="System::Collections::ObjectModel::ReadOnlyCollection" file="system/collections/read_only_collection.h"/>
        <class name="System::Collections::ObjectModel::Collection" file="system/collections/object_model/collection.h"/>
        <class name="System::Collections::ObjectModel::KeyedCollection" file="system/collections/object_model/keyed_collection.h"/>
        <class name="System::Collections::Specialized::StringDictionary" file="system/collections/specialized/string_dictionary.h"/>
        <class name="System::Collections::Specialized::StringCollection" file="system/collections/specialized/string_collection.h"/>

        <!-- System::Text:: -->
        <class name="System::Text::StringBuilder" file="system/text/string_builder.h"/>
        <class name="System::Text::Encoding" file="system/text/encoding.h"/>
        <class name="System::Text::EncodingInfo" file="system/text/encoding.h"/>
        <class name="System::Text::RegularExpressions::Match" file="system/text/regularexpressions/match.h"/>
        <class name="System::Text::RegularExpressions::MatchCollection" file="system/text/regularexpressions/match_collection.h"/>
        <class name="System::Text::RegularExpressions::Group" file="system/text/regularexpressions/group.h"/>
        <class name="System::Text::RegularExpressions::GroupCollection" file="system/text/regularexpressions/group_collection.h"/>
        <class name="System::Text::RegularExpressions::Regex" file="system/text/regularexpressions/regex.h"/>
        <class name="System::Text::RegularExpressions::MatchEvaluator" file="system/text/regularexpressions/regex.h"/>
        <class name="System::Text::RegularExpressions::Capture" file="system/text/regularexpressions/capture.h"/>
        <class name="System::Text::RegularExpressions::CaptureCollection" file="system/text/regularexpressions/capture_collection.h"/>
        <enum name="System::Text::RegularExpressions::RegexOptions" file="system/text/regularexpressions/regex_options.h"/>
        <class name="System::Text::ASCIIEncoding" file="system/text/ascii_encoding.h" />
        <class name="System::Text::UnicodeEncoding" file="system/text/unicode_encoding.h"/>
        <class name="System::Text::UTF8Encoding" file="system/text/utf8_encoding.h"/>
        <class name="System::Text::UTF7Encoding" file="system/text/utf7_encoding.h"/>
        <class name="System::Text::UTF32Encoding" file="system/text/utf32_encoding.h"/>
        <enum name="System::Text::NormalizationForm" file="system/text/normalization_form.h"/>

        <class name="System::Text::Encoder" file="system/text/encoder.h"/>
        <class name="System::Text::EncoderFallback" file="system/text/encoder_fallback.h"/>
        <class name="System::Text::EncoderFallbackBuffer" file="system/text/encoder_fallback_buffer.h"/>
        <class name="System::Text::EncoderFallbackException" file="system/text/encoder_fallback_exception.h"/>
        <class name="System::Text::EncoderExceptionFallback" file="system/text/encoder_exception_fallback.h"/>
        <class name="System::Text::EncoderReplacementFallback" file="system/text/encoder_replacement_fallback.h"/>

        <class name="System::Text::Decoder" file="system/text/decoder.h"/>
        <class name="System::Text::DecoderFallback" file="system/text/decoder_fallback.h"/>
        <class name="System::Text::DecoderFallbackBuffer" file="system/text/decoder_fallback_buffer.h"/>
        <class name="System::Text::DecoderFallbackException" file="system/text/decoder_fallback_exception.h"/>
        <class name="System::Text::DecoderExceptionFallback" file="system/text/decoder_exception_fallback.h"/>
        <class name="System::Text::DecoderReplacementFallback" file="system/text/decoder_replacement_fallback.h"/>

        <!-- System::IO:: -->
        <enum name="System::IO::FileAccess" file="system/io/file_access.h"/>
        <class name="System::IO::Stream" file="system/io/stream.h"/>
        <enum name="System::IO::SeekOrigin" file="system/io/seekorigin.h"/>
        <enum name="System::IO::SearchOption" file="system/io/search_option.h"/>
        <class name="System::IO::BufferedStream" file="system/io/buffered_stream.h"/>
        <class name="System::IO::StreamReader" file="system/io/stream_reader.h"/>
        <class name="System::IO::MemoryStream" file="system/io/memory_stream.h"/>
        <class name="System::IO::UnmanagedMemoryStream" file="system/io/unmanaged_memory_stream.h"/>
        <class name="System::IO::BinaryReader" file="system/io/binary_reader.h"/>
        <class name="System::IO::BinaryWriter" file="system/io/binary_writer.h"/>
        <class name="System::IO::Directory" file="system/io/directory.h"/>
        <class name="System::IO::File" file="system/io/file.h"/>
        <class name="System::IO::Path" file="system/io/path.h"/>
        <class name="System::IO::FileInfo" file="system/io/file_info.h"/>
        <enum name="System::IO::FileAttributes" file="system/io/file_attributes.h"/>
        <enum name="System::IO::FileMode" file="system/io/file_mode.h"/>
        <enum name="System::IO::FileShare" file="system/io/file_share.h"/>
        <class name="System::IO::TextReader" file="system/io/text_reader.h"/>
        <class name="System::IO::DirectoryInfo" file="system/io/directory_info.h" />
        <class name="System::IO::FileStream" file="system/io/file_stream.h" />
        <class name="System::IO::StringReader" file="system/io/string_reader.h" />
        <class name="System::IO::StringWriter" file="system/io/string_writer.h" />
        <class name="System::IO::StreamWriter" file="system/io/stream_writer.h"/>
        <class name="System::IO::TextWriter" file="system/io/text_writer.h"/>
        <class name="System::IO::EndOfStreamException" file="system/exceptions.h"/>
        <class name="System::IO::FileNotFoundException" file="system/exceptions.h"/>
        <class name="System::IO::IOException" file="system/exceptions.h"/>

        <class name="System::IO::Compression::GZipStream" file="system/io/compression/gzip_stream.h"/>
        <enum name="System::IO::Compression::CompressionMode" file="system/io/compression/compression_mode.h"/>

        <!-- System::Globalization:: -->
        <class name="System::Globalization::CultureInfo" file="system/globalization/culture_info.h"/>
        <enum name="System::Globalization::CultureTypes" file="system/globalization/culture_info.h"/>
        <enum name="System::Globalization::NumberStyles" file="system/globalization/number_style.h"/>
        <class name="System::Globalization::Calendar" file="system/globalization/calendar.h"/>
        <enum name="System::Globalization::CalendarAlgorithmType" file="system/globalization/calendar_algorithm_type.h"/>
        <enum name="System::Globalization::CalendarWeekRule" file="system/globalization/calendar_week_rule.h"/>
        <class name="System::Globalization::GregorianCalendar" file="system/globalization/gregorian_calendar.h"/>
        <class name="System::Globalization::RegionInfo" file="system/globalization/region_info.h"/>
        <class name="System::Globalization::TextInfo" file="system/globalization/text_info.h"/>
        <class name="System::Globalization::NumberFormatInfo" file="system/globalization/number_format_info.h"/>
        <enum name="System::Globalization::CompareOptions" file="system/globalization/compare_options.h"/>
        <enum name="System::Globalization::DateTimeStyles" file="system/globalization/date_time_styles.h"/>
        <enum name="System::Globalization::UnicodeCategory" file="system/globalization/unicode_category.h"/>
        <class name="System::Globalization::CompareInfo" file="system/globalization/compare_info.h" />
        <class name="System::Globalization::DateTimeFormatInfo" file="system/globalization/date_time_format_info.h" />
        <class name="System::Globalization::HijriCalendar" file="system/globalization/hijri_calendar.h"/>
        <class name="System::Globalization::ThaiBuddhistCalendar" file="system/globalization/thai_buddhist_calendar.h"/>
        <class name="System::Globalization::HebrewCalendar" file="system/globalization/hebrew_calendar.h"/>
        <class name="System::Globalization::JapaneseCalendar" file="system/globalization/japanese_calendar.h"/>
        <class name="System::Globalization::KoreanCalendar" file="system/globalization/korean_calendar.h"/>
        <class name="System::Globalization::StringInfo" file="system/globalization/string_info.h"/>
        <class name="System::Globalization::TextElementEnumerator" file="system/globalization/text_element_enumerator.h"/>
        <class name="System::Globalization::IdnMapping" file="system/globalization/idn_mapping.h"/>

        <!-- System::Web:: -->
        <class name="System::Web::HttpResponse" file="system/dummy_classes.h"/>
        <class name="System::Web::HttpRequest" file="system/dummy_classes.h"/>
        <class name="System::Web::HttpContext" file="system/dummy_classes.h"/>
        <class name="System::Web::HttpUtility" file="system/web/http_utility.h"/>
        <class name="System::Web::HttpException" file="system/exceptions.h"/>

        <enum name="HttpRequestHeader" file="system/dummy_classes.h"/>
        <enum name="HttpResponseHeader" file="system/dummy_classes.h"/>

        <!-- System::Net:: -->
        <enum name="System::Net::HttpRequestHeader" file="system/dummy_classes.h"/>
        <enum name="System::Net::HttpResponseHeader" file="system/dummy_classes.h"/>

        <class name="System::Net::CredentialCache" file="system/dummy_classes.h"/>
        <class name="System::Net::HttpWebRequest" file="system/dummy_classes.h"/>
        <class name="System::Net::HttpWebResponse" file="system/dummy_classes.h"/>
        <class name="System::Net::FileWebRequest" file="system/dummy_classes.h"/>
        <class name="System::Net::FileWebResponse" file="system/dummy_classes.h"/>
        <class name="System::Net::FtpWebRequest" file="system/dummy_classes.h"/>
        <class name="System::Net::FtpWebResponse" file="system/dummy_classes.h"/>
        <class name="System::Net::WebClient" file="system/dummy_classes.h"/>
        <class name="System::Net::WebHeaderCollection" file="system/dummy_classes.h"/>
        <class name="System::Net::WebRequest" file="system/dummy_classes.h"/>
        <class name="System::Net::WebResponse" file="system/dummy_classes.h"/>
        <class name="System::Net::Cache::RequestCacheLevel" file="system/dummy_classes.h"/>
        <class name="System::Net::Cache::RequestCachePolicy" file="system/dummy_classes.h"/>

        <!-- System::ComponentModel:: -->
        <class name="System::ComponentModel::CancelEventArgs" file="system/component_model/cancel_event_args.h"/>
        <class name="System::ComponentModel::Component" file="system/component_model/component.h"/>
        <class name="System::ComponentModel::Container" file="system/component_model/container.h"/>
        <class name="System::ComponentModel::Design::Serialization::InstanceDescriptor" file="system/component_model/design/serialization/instance_descriptor.h"/>
        <class name="System::ComponentModel::DoWorkEventArgs" file="system/component_model/do_work_event_args.h"/>
        <class name="System::ComponentModel::EnumConverter" file="system/component_model/enum_converter.h"/>
        <class name="System::ComponentModel::IComponent" file="system/component_model/icomponent.h"/>
        <class name="System::ComponentModel::IContainer" file="system/component_model/icontainer.h"/>
        <class name="System::ComponentModel::ITypeDescriptorContext" file="system/component_model/itype_descriptor_context.h"/>
        <class name="System::ComponentModel::InvalidEnumArgumentException" file="system/exceptions.h"/>
        <class name="System::ComponentModel::PropertyChangedEventArgs" file="system/component_model/property_changed_event_args.h"/>
        <class name="System::ComponentModel::PropertyChangedEventHandler" file="system/component_model/property_changed_event_handler.h"/>
        <class name="System::ComponentModel::TypeDescriptor" file="system/component_model/type_descriptor.h"/>
        <class name="System::ComponentModel::TypeConverter" file="system/component_model/type_converter.h"/>
        <class name="System::ComponentModel::Win32Exception" file="system/exceptions.h"/>
        <class name="System::ComponentModel::InvalidEnumArgumentException" file="system/exceptions.h"/>

        <!-- System::Threading:: -->
        <class name="System::Threading::ManualResetEvent" file="system/threading/manual_reset_event.h" />
        <class name="System::Threading::AutoResetEvent" file="system/threading/auto_reset_event.h" />
        <class name="System::Threading::WaitHandle" file="system/threading/wait_handle.h" />
        <enum name="System::Threading::ApartmentState" file="system/threading/apartment_state.h" />
        <enum name="System::Threading::EventResetMode" file="system/threading/event_wait_handle.h" />
        <class name="System::Threading::EventWaitHandle" file="system/threading/event_wait_handle.h" />
        <class name="System::Threading::ParameterizedThreadStart" file="system/threading/thread.h" />
        <class name="System::Threading::Thread" file="system/threading/thread.h" />
        <class name="System::Threading::ThreadPool" file="system/threading/thread_pool.h" />
        <class name="System::Threading::ThreadStart" file="system/threading/thread.h" />
        <class name="System::Threading::ThreadStateException" file="system/exceptions.h"/>
        <class name="System::Threading::Timeout" file="system/threading/timeout.h" />
        <class name="System::Threading::Mutex" file="system/threading/mutex.h" />
        <class name="System::Threading::Semaphore" file="system/threading/semaphore.h" />
        <class name="System::Threading::Interlocked" file="system/threading/interlocked.h" />
        <class name="System::Threading::Timer" file="system/threading/timer.h" />
        <class name="System::Threading::TimerCallback" file="system/threading/timer.h" />
        <class name="System::Threading::WaitCallback" file="system/threading/thread_pool.h" />

        <enum  name="System::Threading::ThreadState" file="system/threading/thread_state.h" />

        <!-- System::Diagnostics:: -->
        <class name="System::Diagnostics::Debug" file="system/diagnostics/debug.h"/>
        <class name="System::Diagnostics::Debugger" file="system/diagnostics/debugger.h"/>
        <class name="System::Diagnostics::FileVersionInfo" file="system/diagnostics/file_version_info.h" />
        <class name="System::Diagnostics::PerformanceCounter" file="system/diagnostics/performance_counter.h"/>
        <class name="System::Diagnostics::Process" file="system/diagnostics/process.h"/>
        <class name="System::Diagnostics::ProcessStartInfo" file="system/diagnostics/process_start_info.h"/>
        <class name="System::Diagnostics::StackFrame" file="system/diagnostics/stack_frame.h" />
        <class name="System::Diagnostics::StackTrace" file="system/diagnostics/stack_trace.h" />
        <class name="System::Diagnostics::Stopwatch" file="system/diagnostics/stopwatch.h"/>
        <class name="System::Diagnostics::Trace" file="system/diagnostics/trace.h"/>
        <class name="System::Diagnostics::TraceListener" file="system/diagnostics/trace_listener.h"/>
        <class name="System::Diagnostics::TraceListenerCollection" file="system/diagnostics/trace_listener.h"/>

        <enum name="System::Diagnostics::ProcessWindowStyle" file="system/diagnostics/process_window_style.h"/>
        <!-- System::Drawing:: -->
        <class name="System::Drawing::FontCollection" file="drawing/text/font_collection.h"/>
        <class name="System::Drawing::InstalledFontCollection" file="drawing/text/installed_font_collection.h"/>

        <!-- System::Reflection:: -->
        <enum name="System::Reflection::BindingFlags" file="system/reflection/binding_flags.h"/>
        <class name="System::Reflection::Assembly" file="system/reflection/assembly.h" />
        <class name="System::Reflection::AssemblyName" file="system/reflection/assembly_name.h" />
        <class name="System::Reflection::MethodBase" file="system/reflection/method_base.h" />
        <class name="System::Reflection::MemberInfo" file="system/reflection/member_info.h" />
        <class name="System::Reflection::FieldInfo" file="system/reflection/field_info.h" />
        <enum name="System::Reflection::FieldAttributes" file="system/reflection/field_attributes.h"/>
        

        <!-- System::Runtime:: -->
        <enum name="System::Runtime::InteropServices::GCHandleType"  file="system/runtime/interop_services/gc_handle_type.h"/>
        <enum name="System::Runtime::InteropServices::VarEnum" file="system/runtime/interop_services/var_enum.h"/>
        <class name="System::Runtime::InteropServices::Marshal" file="system/runtime/interop_services/marshal.h"/>
        <class name="System::Runtime::InteropServices::FILETIME" file="system/runtime/interop_services/file_time.h"/>
        <class name="System::Runtime::Serialization::ISerializable" file="system/runtime/serialization/iserializable.h"/>
        <class name="System::Runtime::Serialization::SerializationInfo" file="system/runtime/serialization/serialization_info.h"/>
        <class name="System::Runtime::Serialization::StreamingContext" file="system/runtime/serialization/streaming_context.h"/>
        <class name="System::Runtime::InteropServices::ExternalException" file="system/exceptions.h"/>
        <class name="System::Runtime::Serialization::SerializationException" file="system/exceptions.h"/>

        <class name="System::Resources::ResourceManager" file="system/resources/resource_manager.h"/>
        <class name="System::Globalization::GregorianCalendarTypes" file="system/globalization/gregorian_calendar_types.h"/>
        <class name="System::Globalization::CultureNotFoundException" file="system/exceptions.h"/>

        <class name="System::Windows::Forms::Screen" file="system/windows/forms/screen.h"/>
        <class name="NUnit::Framework::AssertionException" file="system/exceptions.h"/>
        <class name="NUnit::Framework::TestContext" file="testing/TestContext.h"/>

        <!-- Microsoft::Win32:: -->
        <enum name="Microsoft::Win32::RegistryView" file="windows/registry.h"/>
        <enum name="Microsoft::Win32::RegistryHive" file="windows/registry.h"/>
        <enum name="Microsoft::Win32::RegistryKeyPermissionCheck" file="windows/registry.h"/>
        <enum name="Microsoft::Win32::RegistryOptions" file="windows/registry.h"/>
        <enum name="Microsoft::Win32::AccessControlSections" file="windows/registry.h"/>
        <enum name="Microsoft::Win32::RegistryValueOptions" file="windows/registry.h"/>
        <enum name="Microsoft::Win32::RegistryValueKind" file="windows/registry.h"/>
        <enum name="Microsoft::Win32::RegistryRights" file="windows/registry.h"/>
        <class name="Microsoft::Win32::Registry" file="windows/registry.h"/>
        <class name="Microsoft::Win32::RegistryKey" file="windows/registry.h"/>

        <!-- System::Windows::Forms:: -->
        <enum name="System::Windows::Forms::Appearance" file="windows/appearance.h" />
        <enum name="System::Windows::Forms::AutoSizeMode" file="windows/auto_size_mode.h" />
        <enum name="System::Windows::Forms::CheckState" file="windows/check_state.h" />
        <enum name="System::Windows::Forms::DialogResult" file="windows/dialog_result.h" />
        <enum name="System::Windows::Forms::FlatStyle" file="windows/flat_style.h" />
        <enum name="System::Windows::Forms::FormBorderStyle" file="windows/form_border_style.h" />
        <enum name="System::Windows::Forms::Keys" file="windows/keys.h" />
        <class name="System::Windows::Forms::Control" file="windows/control.h"/>
        <class name="System::Windows::Forms::Control::ControlCollection" file="windows/control.h"/>
        <class name="System::Windows::Forms::Form" file="windows/form.h"/>
        <class name="System::Windows::Forms::IButtonControl" file="windows/i_button_control.h" />
        <class name="System::Windows::Forms::SystemInformation" file="windows/system_information.h" />

        <!-- System::Data:: -->
        <class name="System::Data::DataColumn" file="data/data_column.h" />
        <class name="System::Data::DataColumnCollection" file="data/data_column_collection.h" />
        <class name="System::Data::DataRelation" file="data/data_relation.h" />
        <class name="System::Data::DataRelationCollection" file="data/data_relation_collection.h" />
        <class name="System::Data::DataRow" file="data/data_row.h" />
        <class name="System::Data::DataRowCollection" file="data/data_row_collection.h" />
        <class name="System::Data::DataRowView" file="data/data_row_view.h" />
        <class name="System::Data::DataSet" file="data/data_set.h" />
        <class name="System::Data::DataTable" file="data/data_table.h" />
        <class name="System::Data::DataTableCollection" file="data/data_table_collection.h" />
        <class name="System::Data::DataView" file="data/data_view.h" />
        <class name="System::Data::IDataReader" file="data/i_data_reader.h" />
        <class name="System::Data::IDataRecord" file="data/i_data_record.h" />

        <!-- System::Timers:: -->
        <class name="System::Timers::Timer" file="system/timers/timer.h" />
        <class name="System::Timers::ElapsedEventArgs" file="system/timers/elapsed_event_args.h" />

        <!-- CsToCppPorter:: -->
        <class name="CsToCppPorter::MemoryManagement" file="system/memory_management.h"/>

    </includes>

</porter>
