<?xml version="1.0" encoding="utf-8" ?>
<porter>
    <includes>
        <!-- <class name="System::Data::Common::DbDataReader" file="data/common/db_data_reader.h"/> -->
    </includes>

    <lib name="aspose_data">
        <tag path="data/common/%type_name%.h">System::Data::Common::</tag>
        <tag path="data/sql_client/%type_name%.h">System::Data::SqlClient::</tag>
        <tag path="data/%type_name%.h">System::Data::</tag>

        <cmake_part_template/>
        <cmake_link_template/>
    </lib>
</porter>
