<porter>
    <restricted_tokens mask="*">
        <token from="CreateDirectory" to="CreateDirectory_"/>
        <token from="GetTempFileName" to="GetTempFileName_"/>
		
        <token from="alignas" to="alignas_"/>
        <token from="alignof" to="alignof_"/>
        <token from="and" to="and_"/>
        <token from="and_eq" to="and_eq_"/>
        <token from="asm" to="asm_"/>
        <token from="atomic_cancel" to="atomic_cancel_"/>
        <token from="atomic_commit" to="atomic_commit_"/>
        <token from="atomic_noexcept" to="atomic_noexcept_"/>
        <token from="auto" to="auto_"/>
        <token from="bitand" to="bitand_"/>
        <token from="bitor" to="bitor_"/>
        <token from="bool" to="bool_"/>
        <token from="break" to="break_"/>
        <token from="case" to="case_"/>
        <token from="catch" to="catch_"/>
        <token from="char" to="char_"/>
        <token from="char16_t" to="char16_t_"/>
        <token from="char32_t" to="char32_t_"/>
        <token from="class" to="class_"/>
        <token from="compl" to="compl_"/>
        <token from="concept" to="concept_"/>
        <token from="const" to="const_"/>
        <token from="constexpr" to="constexpr_"/>
        <token from="const_cast" to="const_cast_"/>
        <token from="continue" to="continue_"/>
        <token from="co_await" to="co_await_"/>
        <token from="co_return" to="co_return_"/>
        <token from="co_yield" to="co_yield_"/>
        <token from="decltype" to="decltype_"/>
        <token from="default" to="default_"/>
        <token from="delete" to="delete_"/>
        <token from="do" to="do_"/>
        <token from="double" to="double_"/>
        <token from="dynamic_cast" to="dynamic_cast_"/>
        <token from="else" to="else_"/>
        <token from="enum" to="enum_"/>
        <token from="explicit" to="explicit_"/>
        <token from="export" to="export_"/>
        <token from="extern" to="extern_"/>
        <token from="false" to="false_"/>
        <token from="float" to="float_"/>
        <token from="for" to="for_"/>
        <token from="friend" to="friend_"/>
        <token from="goto" to="goto_"/>
        <token from="if" to="if_"/>
        <token from="import" to="import_"/>
        <token from="inline" to="inline_"/>
        <token from="int" to="int_"/>
        <token from="long" to="long_"/>
        <token from="module" to="module_"/>
        <token from="mutable" to="mutable_"/>
        <token from="namespace" to="namespace_"/>
        <token from="new" to="new_"/>
        <token from="noexcept" to="noexcept_"/>
        <token from="not" to="not_"/>
        <token from="not_eq" to="not_eq_"/>
        <token from="nullptr" to="nullptr_"/>
        <token from="operator" to="operator_"/>
        <token from="or" to="or_"/>
        <token from="or_eq" to="or_eq_"/>
        <token from="private" to="private_"/>
        <token from="protected" to="protected_"/>
        <token from="public" to="public_"/>
        <token from="register" to="register_"/>
        <token from="reinterpret_cast" to="reinterpret_cast_"/>
        <token from="requires" to="requires_"/>
        <token from="return" to="return_"/>
        <token from="short" to="short_"/>
        <token from="signed" to="signed_"/>
        <token from="sizeof" to="sizeof_"/>
        <token from="static" to="static_"/>
        <token from="static_assert" to="static_assert_"/>
        <token from="static_cast" to="static_cast_"/>
        <token from="struct" to="struct_"/>
        <token from="switch" to="switch_"/>
        <token from="synchronized" to="synchronized_"/>
        <token from="template" to="template_"/>
        <token from="this" to="this_"/>
        <token from="thread_local" to="thread_local_"/>
        <token from="throw" to="throw_"/>
        <token from="true" to="true_"/>
        <token from="try" to="try_"/>
        <token from="typedef" to="typedef_"/>
        <token from="typeid" to="typeid_"/>
        <token from="typename" to="typename_"/>
        <token from="union" to="union_"/>
        <token from="unsigned" to="unsigned_"/>
        <token from="using" to="using_"/>
        <token from="virtual" to="virtual_"/>
        <token from="void" to="void_"/>
        <token from="volatile" to="volatile_"/>
        <token from="wchar_t" to="wchar_t_"/>
        <token from="while" to="while_"/>
        <token from="xor" to="xor_"/>
        <token from="xor_eq" to="xor_eq_"/>
    </restricted_tokens>
</porter>