<?xml version="1.0" encoding="utf-8" ?>
<porter>
    <!-- some inner data -->
    <files>
        <exclude file="Include/*.cs" />
        <include file="Include/GoodCastsExample.cs" />
        <exclude file="Exclude/BadIdentifierExample.cs" />
        <include file="Exclude/GoodIdentifierExample.cs" />
        <only file="Only/GoodClassNameExample.cs" />
    </files>
</porter>
