<?xml version="1.0" encoding="utf-8" ?>
<porter>
    <includes>
        <enum name="Aspose::Zip::ZipProgressEventType" file="zip/events.h"/>
        <class name="Aspose::Zip::ZipProgressEventArgs" file="zip/events.h"/>
        <class name="Aspose::Zip::ReadProgressEventArgs" file="zip/events.h"/>
        <class name="Aspose::Zip::AddProgressEventArgs" file="zip/events.h"/>
        <class name="Aspose::Zip::SaveProgressEventArgs" file="zip/events.h"/>
        <class name="Aspose::Zip::ExtractProgressEventArgs" file="zip/events.h"/>
        <class name="Aspose::Zip::ZipErrorEventArgs" file="zip/events.h"/>

        <class name="Aspose::Zip::ZipException" file="zip/exceptions.h"/>
        <class name="Aspose::Zip::BadPasswordException" file="zip/exceptions.h"/>
        <class name="Aspose::Zip::BadReadException" file="zip/exceptions.h"/>
        <class name="Aspose::Zip::BadCrcException" file="zip/exceptions.h"/>
        <class name="Aspose::Zip::SfxGenerationException" file="zip/exceptions.h"/>
        <class name="Aspose::Zip::BadStateException" file="zip/exceptions.h"/>

        <class name="Aspose::Zip::GZipStream" file="zip/gzip_stream.h"/>
        <class name="Aspose::Zip::ZlibStream" file="zip/zlib_stream.h"/>
        <class name="Aspose::Zip::Zip64Option" file="zip/zip64_option.h"/>

        <enum name="Aspose::Zip::CompressionLevel" file="zip/zlib_compression_flags.h"/>
        <enum name="Aspose::Zip::CompressionStrategy" file="zip/zlib_compression_flags.h"/>
        <enum name="Aspose::Zip::CompressionMode" file="zip/zlib_compression_flags.h"/>
        <enum name="Aspose::Zip::ZlibException" file="zip/exceptions.h"/>

        <enum name="Aspose::Zip::CRC32" file="zip/crc32.h"/>
    </includes>

    <force_value_types>
        <class name="Aspose::Zip::ZipException"/>
        <class name="Aspose::Zip::BadReadException"/>
        <class name="Aspose::Zip::BadCrcException"/>
        <class name="Aspose::Zip::SfxGenerationException"/>
        <class name="Aspose::Zip::BadStateException"/>
    </force_value_types>

    <typemap>
        <class csname="Aspose.Common.ZipException" cppname="Aspose::Zip::ZipException" box="false" />
    </typemap>

    <lib name="aspose_zip">
        <tag path="zip/%type_name%.h">Aspose::Zip::</tag>

        <cmake_part_template/>
        <cmake_link_template/>

        <!-- skip all user-defined types with Aspose::Zip:: prefix -->
        <replace_user_types>True</replace_user_types>
    </lib>
</porter>
