<?xml version="1.0" encoding="utf-8" ?>
<porter>

    <documentation_comments_translation>

        <cref_typemap>
            <cref cstext="sbyte" cpptext="int8_t" />
            <cref cstext="byte" cpptext="uint8_t" />
            <cref cstext="short" cpptext="int16_t" />
            <cref cstext="ushort" cpptext="uint16_t" />
            <cref cstext="int" cpptext="int32_t" />
            <cref cstext="uint" cpptext="uint32_t" />
            <cref cstext="long" cpptext="int64_t" />
            <cref cstext="ulong" cpptext="uint64_t" />
            <cref cstext="char" cpptext="wchar_t" />
            <cref cstext="string" cpptext="System::String" />
            <cref cstext="T:string[]" cpptext="System::ArrayPtr&lt;System::String&gt;" />
        </cref_typemap>

        <summary_text_map>
            <property cstext="Gets or sets" getter_text="Gets" setter_text="Sets" />
            <property cstext="Returns or sets" getter_text="Returns" setter_text="Sets" />
            <property cstext="Read/write" getter_text="Read" setter_text="Write" />
        </summary_text_map>

        <options>
            <opt name="fix_setter_return_tag" value="true" />
        </options>

    </documentation_comments_translation>

</porter>
