<?xml version="1.0" encoding="utf-8" ?>
<porter>
    <force_value_types>
        <class name="System::Drawing::Size"/>
        <class name="System::Drawing::SizeF"/>
        <class name="System::Drawing::Point"/>
        <class name="System::Drawing::PointF"/>
        <class name="System::Drawing::RectangleF" box="true"/>
        <class name="System::Drawing::Color"/>
        <class name="System::Drawing::CharacterRange"/>
    </force_value_types>

    <lib name="aspose_drawing">
        <tag path="drawing/%type_name%.h">System::Drawing::</tag>
        <tag path="drawing/drawing2d/%type_name%.h">System::Drawing::Drawing2D::</tag>
        <tag path="drawing/imaging/%type_name%.h">System::Drawing::Imaging::</tag>
        <tag path="drawing/text/%type_name%.h">System::Drawing::Text::</tag>
        
        <class name ="System::Drawing::Graphics::DrawImageAbort" file="drawing/graphics.h"/>
        <class name ="System::Drawing::Graphics::EnumerateMetafileProc" file="drawing/graphics.h"/>

        <class name="System::Drawing::Printing::PrinterSettings" file="drawing/drawing_dummy_classes.h"/> 
        <class name="System::Drawing::Printing::PrintPageEventArgs" file="drawing/drawing_dummy_classes.h"/> 
        <class name="System::Drawing::Printing::PrintController" file="drawing/drawing_dummy_classes.h"/> 
        <class name="System::Drawing::Printing::StandardPrintController" file="drawing/drawing_dummy_classes.h"/> 
        <class name="System::Drawing::Printing::PrintDocument" file="drawing/drawing_dummy_classes.h"/> 
        <class name="System::Drawing::Printing::PageSettings" file="drawing/drawing_dummy_classes.h"/> 
        <class name="System::Drawing::Printing::PrintAction" file="drawing/printing/print_action.h"/> 
        <class name="System::Drawing::Printing::PrintEventArgs" file="drawing/printing/print_event_args.h"/> 
        <class name="System::Drawing::Printing::PrintEventHandler" file="drawing/printing/print_event_handler.h"/>
        <class name="System::Drawing::Printing::PrinterResolution" file="drawing/printing/printer_resolution.h"/>
        <class name="System::Drawing::Printing::PrintRange" file="drawing/printing/print_range.h"/> 
        <class name="System::Drawing::Printing::QueryPageSettingsEventArgs" file="drawing/drawing_dummy_classes.h"/> 
        
        <cmake_part_template />
        <cmake_link_template/>
    </lib>
</porter>
