<?xml version="1.0" encoding="utf-8" ?>
<porter>
    <force_value_types>
        <!--class name="PorterInterface::ClassName"/-->
    </force_value_types>

    <lib name="porter_interface">
        <tag path="porter_interface/%type_name%.h">PorterInterface::</tag>
        <tag path="porter_interface/reporters/%type_name%.h">PorterInterface::Reporters::</tag>

        <class name="PorterInterface::Reporters::LeakageDetector::ReportHandler" file="porter_interface/reporters/leakage_detector.h" /> 
        
        <cmake_part_template/>

        <cmake_link_template>
target_link_libraries(${PROJECT_NAME}_dependencies INTERFACE Aspose::PorterInterface)
        </cmake_link_template>
    </lib>
</porter>
