<?xml version="1.0" encoding="utf-8" ?>
<porter>
    <force_value_types>
        <class name="System::Xml::Schema::ValidationEventHandler"/>
    </force_value_types>

    <includes>
        <class name="System::Xml::XmlCDataSection" file="xml/xml_cdata_section.h"/>
        <class name="System::Xml::XmlException" file="xml/xml_exceptions.h"/>
        <enum name="System::Xml::ReadState" file="xml/xml_read_state.h"/>
        <enum name="System::Xml::WriteState" file="xml/xml_write_state.h"/>

        <class name="System::Xml::XPath::IXPathNavigable" file="xml/xpath/i_xpath_navigable.h"/>
        <class name="System::Xml::XPath::XPathDocument" file="xml/xpath/xpath_document.h"/>
        <class name="System::Xml::XPath::XPathExpression" file="xml/xpath/xpath_expression.h"/>
        <class name="System::Xml::XPath::XPathItem" file="xml/xpath/xpath_item.h"/>
        <class name="System::Xml::XPath::XPathNavigator" file="xml/xpath/xpath_navigator.h"/>
        <class name="System::Xml::XPath::XPathNodeIterator" file="xml/xpath/xpath_node_iterator.h"/>
        <class name="System::Xml::XPath::XPathException" file="xml/xml_exceptions.h"/>
        <enum name="System::Xml::XPath::XPathNodeType" file="xml/xpath/xpath_node_type.h"/>
        <enum name="System::Xml::XPath::XPathResultType" file="xml/xpath/xpath_result_type.h"/>

        <class name="System::Xml::Schema::ValidationEventArgs" file="xml/schema/validation_event_args.h"/> 
        <class name="System::Xml::Schema::ValidationEventHandler" file="xml/schema/validation_event_handler.h"/>
        <enum name="System::Xml::Schema::XmlSeverityType" file="xml/schema/xml_severity_type.h"/>
        <class name="System::Xml::Schema::XmlSchemaException" file="xml/xml_exceptions.h"/>
        <class name="System::Xml::Schema::XmlSchema" file="xml/schema/xml_schema.h"/>
        <class name="System::Xml::Schema::XmlSchemaSet" file="xml/schema/xml_schema_set.h"/>
        <class name="System::Xml::Schema::XmlSchemaValidationFlags" file="xml/schema/xml_schema_validation_flags.h"/>

        <class name="System::Xml::Xsl::XslCompiledTransform" file="xml/xsl/xsl_compiled_transform.h"/>
        <class name="System::Xml::Xsl::XslTransform" file="xml/xsl/xsl_transform.h" />
        <class name="System::Xml::Xsl::XsltArgumentList" file="xml/xsl/xslt_argument_list.h" />
    </includes>

    <lib name="aspose_xml">
        <tag path="xml/%type_name%.h">System::Xml::</tag>
        <cmake_part_template/>
        <cmake_link_template/>
    </lib>
</porter>
