<?xml version="1.0" encoding="utf-8" ?>
<porter>
    <includes>
        <!-- Exclusive case - do not remove -->
        <class name="System::Security::Cryptography::SHA1" file="security/cryptography/sha1.h"/> 
        <class name="System::Security::Cryptography::MD5" file="security/cryptography/md5.h"/> 
        <class name="System::Security::Cryptography::SHA256" file="security/cryptography/sha256.h"/> 
        <class name="System::Security::Cryptography::SHA384" file="security/cryptography/sha384.h"/> 
        <class name="System::Security::Cryptography::SHA512" file="security/cryptography/sha512.h"/> 
        <class name="System::Security::Cryptography::SHA1Managed" file="security/cryptography/sha1_managed.h"/> 
        <class name="System::Security::Cryptography::SHA256Managed" file="security/cryptography/sha256_managed.h"/> 
        <class name="System::Security::Cryptography::SHA384Managed" file="security/cryptography/sha384_managed.h"/> 
        <class name="System::Security::Cryptography::SHA512Managed" file="security/cryptography/sha512_managed.h"/> 
        <class name="System::Security::Cryptography::SHA1CryptoServiceProvider" file="security/cryptography/sha1_crypto_service_provider.h"/> 
        <class name="System::Security::Cryptography::MD5CryptoServiceProvider" file="security/cryptography/md5_crypto_service_provider.h"/> 
        <class name="System::Security::Cryptography::CryptographicException" file="system/exceptions.h" />
        <class name="System::Security::SecurityException" file="system/exceptions.h"/>

        <enum name="System::Security::Cryptography::X509Certificates::X509ContentType" file="security/cryptography/x509_certificates/x509_content_type.h" />
        <enum name="System::Security::Cryptography::X509Certificates::X509IncludeOption" file="security/cryptography/x509_certificates/x509_include_option.h"/>   
        <enum name="System::Security::Cryptography::X509Certificates::X509NameType" file="security/cryptography/x509_certificates/x509_name_type.h"/>        
        <enum name="System::Security::Cryptography::X509Certificates::X500DistinguishedNameFlags" file="security/cryptography/x509_certificates//x500_distinguished_name_flags.h"/>

        <class name="System::Security::Cryptography::RSA" file="security/cryptography/rsa.h"/>
        <class name="System::Security::Cryptography::RSACryptoServiceProvider" file="security/cryptography/rsa_crypto_service_provider.h"/>
        <class name="System::Security::Cryptography::RSAParameters" file="security/cryptography/rsa_parameters.h"/>
        <class name="System::Security::Cryptography::RSAPKCS1SignatureDeformatter" file="security/cryptography/rsa_pkcs1_signature_deformatter.h"/>
        <class name="System::Security::Cryptography::RSAPKCS1SignatureFormatter" file="security/cryptography/rsa_pkcs1_signature_formatter.h"/>
        <class name="System::Security::Cryptography::X509Certificates::X500DistinguishedName" file="security/cryptography/x509_certificates/x500_distinguished_name.h"/>
        <class name="System::Security::Cryptography::X509Certificates::X509Certificate" file="security/cryptography/x509_certificates/x509_certificate.h" />
        <class name="System::Security::Cryptography::X509Certificates::X509Certificate2" file="security/cryptography/x509_certificates/x509_certificate_2.h" />
        <class name="System::Security::Cryptography::X509Certificates::X509CertificateCollection" file="security/cryptography/x509_certificates/x509_certificate_collection.h" />
        <class name="System::Security::Cryptography::X509Certificates::X509Certificate2Collection" file="security/cryptography/x509_certificates/x509_certificate_2_collection.h" />
        <class name="System::Security::Cryptography::X509Certificates::X509Extension" file="security/cryptography/x509_certificates/x509_extension.h" />
        <class name="System::Security::Cryptography::X509Certificates::X509ExtensionCollection" file="security/cryptography/x509_certificates/x509_extension_collection.h" />
        <class name="System::Security::Cryptography::X509Certificates::X509KeyStorageFlags" file="security/cryptography/x509_certificates/x509_key_storage_flags.h"/>
        <!-- End exclusive case -->

        <enum name="System::Security::Cryptography::CipherMode" file="security/cryptography/cipher_mode.h"/>                             
        <enum name="System::Security::Cryptography::CryptoStreamMode" file="security/cryptography/crypto_stream_mode.h"/>                      
        <enum name="System::Security::Cryptography::PaddingMode" file="security/cryptography/padding_mode.h"/>
        <enum name="System::Security::Permissions::SecurityPermissionFlag" file="security/permissions/security_permission_flag.h"/>                 

        <class name="System::Security::SecurityElement" file="security/security_element.h"/>
        <class name="System::Security::Cryptography::KeySizes" file="security/cryptography/key_sizes.h"/>
        <class name="System::Security::Cryptography::AsymmetricAlgorithm" file="security/cryptography/asymmetric_algorithm.h"/>
        <class name="System::Security::Cryptography::AsymmetricSignatureDeformatter" file="security/cryptography/asymmetric_signature_deformatter.h"/>
        <class name="System::Security::Cryptography::AsymmetricSignatureFormatter" file="security/cryptography/asymmetric_signature_formatter.h"/>
        <class name="System::Security::Cryptography::CspParameters" file="security/cryptography/csp_parameters.h"/>
        <class name="System::Security::Cryptography::ICspAsymmetricAlgorithm" file="security/cryptography/i_csp_asymmetric_algorithm.h"/>

        <!-- used in Foundation-->
        <class name="System::Security::Cryptography::CryptoStream" file="security/cryptography/crypto_stream.h" />
        <class name="System::Security::Cryptography::HashAlgorithm" file="security/cryptography/hash_algorithm.h" />
        <class name="System::Security::Cryptography::ICryptoTransform" file="security/cryptography/i_crypto_transform.h" />
        <class name="System::Security::Cryptography::Oid" file="security/cryptography/oid.h" />
        <class name="System::Security::Cryptography::Pkcs::CmsSigner" file="security/cryptography/pkcs/cms_signer.h" />
        <class name="System::Security::Cryptography::Pkcs::ContentInfo" file="security/cryptography/pkcs/content_info.h" />
        <class name="System::Security::Cryptography::Pkcs::SignedCms" file="security/cryptography/pkcs/signed_cms.h" />
        <class name="System::Security::Cryptography::Rijndael" file="security/cryptography/rijndael.h" />
        <class name="System::Security::Cryptography::RijndaelManaged" file="security/cryptography/rijndael_managed.h" />
        <class name="System::Security::Cryptography::SymmetricAlgorithm" file="security/cryptography/symmetric_algorithm.h" />
        <class name="System::Security::Policy::Evidence" file="security/policy/evidence.h" />
    </includes>

    <lib name="aspose_security">
        <tag path="security/cryptography/%type_name%.h">System::Security::Cryptography::</tag>
        <tag path="security/cryptography/pkcs/%type_name%.h">System::Security::Cryptography::Pkcs::</tag>
        <tag path="security/cryptography/x509_certificates/%type_name%.h">System::Security::Cryptography::X509Certificates::</tag>
        <tag path="security/permissions/%type_name%.h">System::Security::Permissions::</tag>
        <tag path="security/policy/%type_name%.h">System::Security::Policy::</tag>
        <tag path="security/%type_name%.h">System::Security::</tag>
        <tag>Aspose::Crypto</tag>

        <cmake_part_template/>

        <cmake_link_template />
    </lib>
</porter>
