<?xml version="1.0" encoding="utf-8" ?>
<porter>
    <includes>
        <class name="System::Net::HttpStatusCode" file="net/http_status_code.h"/>
        <class name="System::Net::ICredentials" file="net/icredentials.h"/>
        <class name="System::Net::ICredentialsByHost" file="net/icredentials_by_host.h"/>
        <class name="System::Net::NetworkCredential" file="net/network_credential.h"/>
        <class name="System::Net::CredentialCache" file="net/credential_cache.h"/>
        <class name="System::Net::CookieContainer"  file="net/cookie_container.h"/>
        <class name="System::Net::IPAddress"        file="net/ip_address.h"/>                           
        <class name="System::Net::IPEndPoint"       file="net/ip_end_point.h"/>                           
        <class name="System::Net::IPHostEntry"      file="net/ip_host_entry.h"/>    
        <class name="System::Net::ServicePoint"      file="net/service_point.h"/>    
        <class name="System::Net::ServicePointManager"      file="net/service_point_manager.h"/>    
        <class name="System::Net::IWebProxy"      file="net/iweb_proxy.h"/>    
        <class name="System::Net::Dns"      file="net/dns.h"/>    
      
        <class name="System::Net::NetworkInformation::IPGlobalProperties" file="net/network_information/ip_global_properties.h"/>    
      
        <class name="System::Net::Security::SslPolicyErrors" file="net/secure_protocols/ssl_policy_errors.h"/>                           
        <class name="System::Net::Security::SslStream" file="net/secure_protocols/ssl_stream.h"/>
        <class name="System::Net::Security::RemoteCertificateValidationCallback" file="net/secure_protocols/ssl_stream.h"/>
        <class name="System::Security::Authentication::SslProtocols" file="net/secure_protocols/ssl_enum_types.h"/>

        <enum name="System::Net::Sockets::SocketFlags"     file="net/sockets/socket_flags.h"/>
        <class name="System::Net::Sockets::Socket"          file="net/sockets/socket.h"/>
        <class name="System::Net::Sockets::AddressFamily"   file="net/sockets/address_family.h"/>                       
        <class name="System::Net::Sockets::SocketType"      file="net/socket_type.h"/>    
        <class name="System::Net::Sockets::ProtocolType"    file="net/sockets/protocol_type.h"/>
        <class name="System::Net::Sockets::SocketException" file="net/socket_exception.h"/>
        <class name="System::Net::Sockets::NetworkStream"   file="net/sockets/network_stream.h"/>
        <class name="System::Net::Sockets::TcpClient"   file="net/sockets/tcp_client.h"/>
    </includes>

</porter>
